/* --- CONFIGURAÇÃO GERAL --- */
body {
    background: #ffffff;
    font-family: 'Irish Grover', sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.botao-voltar {
    display: inline-block;
    margin: 20px 0 0 40px; 
}

.icone-seta {
    width: 35px;
    height: auto;
}

.topo {
    background-color: #70e4df;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.4rem;
    font-weight: bold;
    color: #0358A5;
}

.saudacao-usuario {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 0.95rem;
    color: #0b4f6c;
    font-weight: bold;
}

.foto-perfil-topo {
    width: 35px;
    height: 35px;
    background-color: #dcdcdc;
    border-radius: 50%;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
}

.card-perfil-grande {
    background-color: #F5F5F5;
    width: 100%;
    max-width: 450px;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0 8px 20px #00000014;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.circulo-foto {
    width: 120px;
    height: 120px;
    background-color: #dcdcdc;
    border-radius: 50%;
    margin-bottom: 15px;
}

.nome-usuario {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 25px;
}

.caixa-dados {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.info-barra {
    background-color: #e5e5e5;
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    font-size: 0.9rem;
    color: #555;
    box-sizing: border-box;
}

.secao-cards-home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;            
    flex-wrap: wrap; 
    width: 100%;
}

.card-link {
    text-decoration: none;
}

.card-home {
    width: 145px;
    height: 185px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    padding: 15px;
    gap: 15px;                
    box-shadow: 0 6px 15px #00000014;
    box-sizing: border-box;
}

.card-cor-1 {
    background-color: #38bdf8; 
}

.card-cor-2 {
    background-color: #06b6d4; 
}

.card-cor-3 {
    background-color: #14b8a6; 
}

.card-titulo {
    color: #ffffff;
    font-weight: bold;
    font-size: 0.85rem;
    text-align: center;
    margin: 0;
    width: 100%;
}
.card-img {
    width: 60px;
    height: auto;
    display: block;
}

.rodape-projeto {
    background-color: #f9fafb;
    border-top: 1px solid #e5e7eb;
    padding: 15px 20px;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rodape-projeto p {
    margin: 0;
    font-size: 0.85rem;
    color: #555;
    font-family: 'Irish Grover', sans-serif;
}

.rodape-projeto a {
    color: #0358A5;
    text-decoration: none;
}